<div class="section">
  <h2>Product Dashboard</h2>
</div>

<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-image">
        <img
          src="http://localhost:5500/FrontEnd/route/images/background/background1.png"
          style="width: 100%; height: 600px"
        />
      </div>
    </div>
  </div>
</div>
<div class="section" style="padding-top: 8px">
  <div class="row">
    <div class="col s6 #eeeeee grey lighten-3">
      <input
        placeholder="Search Products"
        id="product-search-field"
        type="text"
      />
    </div>

    <div class="col s1">
      <button class="btn #4fc3f7 light-blue lighten-2 btn-large">
        Search <i class="material-icons small">search</i>
      </button>
    </div>
  </div>
</div>

<div class="divider"></div>
<div class="row" style="padding-left: 20px">
  <br />
  <label for="title">Title:</label>
  <input type="text" id="product_title" ng-model="title" /><br />
  <label for="image">Image:</label>
  <input type="text" id="image" ng-model="image" /><br />
  <label for="category">Category Id:</label>
  <input type="text" id="category_id" ng-model="category_id" /><br />
  <button ng-click="add()">Add <i class="material-icons right">add</i></button>
</div>

<div class="divider"></div>

<div class="row mainproductdiv" ng-repeat="category in categories"
<p>{{category.description}}</p>
  <div ng-repeat="product in category.products" class="col s3 productdiv">
    <div class="card blue-grey darken-1">
      <div class="card-image">
        <img src="{{product.image}}" class="product-image" />
        <span class="card-title">{{product.Title}}</span>
      </div>
      <div class="card-content center-align">
        <button
          class="btn waves-effect waves-light"
          type="button"
          name="action"
          ng-click="view_product({{product.id}})"
        >
          <i class="material-icons">search</i>
        </button>
      </div>
    </div>
  </div>
</div>
