<nav >
  <div class="nav-wrapper #bbdefb blue lighten-4">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#">Logout</a></li>
    </ul>
  </div>
</nav>

<table class="highlight centered responsive-table">
  <thead>
    <tr>
      <th>UserId</th>
      <th>Password</th>
      <th class="hide">RecordId</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat= "person in people">
      <td><a id = "anchor{{person.userId}}" href="/FrontEnd/route/#/view/{{person.userId}}"
        ><input type=”text” value="{{person.UserName}}" readonly="readonly" id = "directoryNameField{{person.userId}}"/>
        
        </a
        </td>
      <td><input type="text" value="{{person.Password}}" readonly="readonly" id="directoryTelField{{person.userId}}" />
      </td>
      <td ><input class="hide" type="text" value="{{person.RecordId}}" readonly="readonly" id="directoryRecordIdField{{person.userId}}" />
      </td>
      <td><div><a class="waves-effect waves-light btn-small" id="togglebtn{{person.userId}}" ng-click="toggle({{person.userId}})"> Edit</a> <a class="waves-effect waves-light btn-small" ng-click="delete({{person.userId}})"> Delete</a></div>
        
        </td>
    </tr>

  </tbody>
</table>
